:root {
  --pretty-color: #2196f3;
  --black-color: rgba(33, 33, 33, 1);
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: var(--black-color);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

span {
  color: var(--pretty-color);
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}


.logo {
  font-family: var(--logo-font);
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}
.logo-footer {
  font-family: var(--logo-font);
  color: white;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
     }
.about-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.what-we-do-section{
   padding-bottom: 94px;
}
.buttons {
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: 1px solid #f5f4fa;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
.mainbutton {
  width: 216px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  color: #ffffff;
  border: 1px solid var(--pretty-color);
  background: var(--pretty-color);
  border-radius: 4px;
  cursor: pointer;
 border-color: transparent;
 margin: 0 auto;
 }
.buttons:hover {
  background: var(--pretty-color);
  border: 1px solid var(--pretty-color);
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 0.1em 3px rgba(122, 122, 122, 0.5);
  cursor: pointer;
}

.team-member-wrap{
    padding-top: 30px;
    padding-bottom: 30px;
}
.section1 {
  background-color: #2f303a;
  background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../img/hero-bg.jpg);
  color: rgba(255, 255, 255, 1);
  padding: 200px 0px;
  
 }

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header .container{
 display: flex;
}
.header-contacts{
 margin-left: auto;
}
.header-list{
 display: flex;
 column-gap: 50px;
}

.header-links {
font-weight: 500;
font-size: 14px; 
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}
.about-list {
display: flex;
padding-left: 0;
margin-top: 0;
margin-bottom: 0;
list-style: none;
gap: 30px;
}
 

.team-list{
 display: flex;
 column-gap: 30px;
}
.menu {
 border: 1px solid #ECECEC;
 padding-top: 94px;
 padding-bottom: 94px;
}
.menu .menu-list {
 display: flex;
 justify-content: center;
 margin-bottom: 50px;
}
.menu-item {
 margin-right: 8px;
}
.menu .elements-list{
 display: flex;
 flex-wrap: wrap;
 gap: 30px;
}
.menu-elements{
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: #757575;
}

.elements-item {
width: calc((100% - 60px) /3);
border: 1px solid #eeeeee;
 }
 .element-items-footer {
 padding: 20px 24px;
 
 }
.menu-elements-names {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
  }
.main{
padding-top: 94px;
padding-bottom: 94px;
  }
.about  {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 30px;
margin-top: 0;
margin-left: auto;
margin-right: auto;
max-width: 696px;
}

.about-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 10px;
margin-top: 0;
}
.section1 .container-button{
display: flex;
  }
.about-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
margin-top: 0;
margin-bottom: 0;
}
.what-we-do{
 font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-top: 0;
margin-bottom: 50px;
    }
.team{
 font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
}
.team-content  {
padding-top: 94px;
padding-bottom: 94px;
background: #F5F4FA;
  }
.team-member{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 10px;
}
.team-list-item{
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
  }
.team-role
{
font-weight: 400;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
margin-bottom: 16px;
}
.team-soc-link {
width: 44px;
height: 44px;
border-radius: 50%; 
background-color:transparent ;
display: flex;
align-items: center;
justify-content: center;
 }
 .team-soc-link:hover,
 .team-soc-link:focus{ 
  background-color: #2196f3;
 }
  .team-soc-link:hover .team-soc-icon,
 .team-soc-link:focus .team-soc-icon{ 
  fill: #ffffff;
 }
 .team-soc{
display: flex;
justify-content: center;
gap: 10px;
  }
  .team-soc-icon{
fill:#AFB1B8;
  }
.contacts {
color: #757575;
  }
.navList a:hover,
.navList a:focus,
.contactsList a:hover,
.contactsList a:focus {
  color: var(--pretty-color);
}
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  color: white;
  }
.studio {
  color: white;
}
.footer-adress {
  font-family: Roboto;
  font-style: normal;
  line-height: 1.714;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
p, h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
ul {
  margin: 0;padding-left: 0;
}